ul {
    list-style-type: none;
    margin: auto;
    padding: 30px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
    overflow: hidden;
    background-color: #333;
  }

